@charset "UTF-8";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 10px;
}
/* Center heading */
h1 {
  font-size: 4rem;
  text-align: center;
}
/* Float main buttons left and final buttons right*/
section:first-of-type {
  float: left;
  width: 45%;
}

section:nth-of-type(2) {
  float: right;
  text-align: right;
  width: 45%;
}

/* Student info underneath buttons */
section:last-of-type {
  padding: 5rem;
  clear: both;
  text-align: center;
}

img {
  width: 45%;
}
